.human-model-canvas-container {
  width: 100%;
  aspect-ratio: 16/9;
  min-height: 35%; 
  border-radius: 5%; 
  background: #bebec0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.human-model-canvas-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.human-model-canvas {
  cursor: pointer; 
}

.human-model-canvas:active {
  cursor: grabbing; 
}

@media (max-width: 768px) {
  .human-model-canvas-container {
    aspect-ratio: auto; 
    min-height: 25%; 
    border-radius: 3%; 
  }
}
